{% extends "layout.html" %}

{% set bodyId = "page-ideas" %}


{% block title %}
<title>Ideias - casa criativa</title>
{% endblock title %}

{% block content %}
<header>
    <a href="/"> <img src="assets/img/logo.png" alt="imagem da logo"></a>

    <nav>
        <li><a href="/">Inicio</a></li>
        <li><a class="button" href="#" onclick="onOff()">Novas ideias</a></li>
    </nav>
</header>

<section id="title">
    <p>em exibição</p>
    <h1>Ideias</h1>
</section>

<main>
    <section id="ideas">
        {% include "allIdeas.html"%}
    </section>

</main>
</div>

{% include "modal.html"%}

<footer>
    Com ❤ <a href="https://felipebignoto.netlify.app/" target="_blank">Felipe</a>
</footer>
{% endblock %}