body{
    background-color: #e5e5e5;
    color: #25282b;
    margin: 0;
}

#container{
    width: 90%;
    max-width: 980px;

    margin: 40px auto;

    display: flex;
}

#intro{
    width: 300px;
    margin-right: 20px;
}

main{
    margin-top: 32px 0;
}

#buttons{
    display: flex;
    margin-bottom: 32px;
    justify-content: space-evenly;
}

button{
    color: #ff5e84;
    border: none;
    font-weight: bold;
    background: none;
    cursor: pointer;
    outline: none;
}

button:hover{
    text-decoration: underline;
}

button.fat:hover{
    text-decoration: none;
}

button.fat{
    background-color: #ff5e84;
    color: white;

    width: 150px;
    height: 40px;
    border-radius: 6px;
    box-shadow: 0px 8px 16px #ff5E8432;
}


footer{
    text-align: center;
    
}

footer a{
    color: #25282b;
    text-decoration: none;
    cursor: pointer;
}

footer a:hover{
    color:#ff5e84;
    font-weight: bold;
}

.hide{
    display: none;
}
